@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Roboto&family=Tenor+Sans&display=swap");
@font-face {
  font-family: "Striverx";
  src: url("../fonts/Striverx.otf");
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.HeaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HeaderContainer img {
  width: 20%;
  height: auto;
}
